<div class="flex justify-center items-center h-screen bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-md w-96">
    <h1 class="text-2xl font-bold text-center mb-6">Login</h1>
    
<!-- Form for User Login -->
    
    
<!-- Redirect link after successful login -->

    <div class="mt-4 text-center">
      <.link patch={~p"/products/"} class="text-blue-500">
        Go to Products
      </.link>
    </div>
  </div>
</div>
